<h3 mat-dialog-title>Edit User</h3>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="userForm">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Total Expense</mat-label>
        <input matInput disabled value="{{ this.user.totalExpense }}" />
      </mat-form-field>
    </p>
  </form>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      cdkFocusInitial
      (click)="updateUser(user)"
      [disabled]="userForm.invalid"
    >
      Update
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
